// .website{
//     .card1{
//         box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
//         max-width:300px;
//         margin: auto;
//         text-align:center;

//         .title{
//             color: gray;
//             font-size:1rem;
//         }
//     }
        
// }

.website{
    h1{
        width: 400px;
        margin: auto;
        line-height: 90px;
    }

    p{
        width: 400px;
        margin: auto;
        line-height: 90px;
    }
    
    .form{
        width: 70%;
        margin: auto;
    }

}